<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/app.css">
</head>
<body>
      <div id="converter">
            <h1>Video -> GIF</h1>
            <!-- form to send data to backend -->
            <form action="/" method="post">
                  <input id="input_for_url" type="url" name="url">
                  <input id="convert_button" type="submit" value="CONVERT">
            </form>
      </div>
      <div id="converted_gif">
            <!-- get downloaded and converted image -->
            <img src='/static/converted.gif' alt="">
      </div>
      <script src="static/app.js"></script>
</body>
</html>
